@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #ffffff;
  --background-hex: #B8C6F6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #000000;
    --background-hex: #B8C6F6;
  }
}


body {
  color: var(--foreground-hex);
  background: 
    var(--background-hex);
}

